<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.ddt.dao.custom.CustomShopSkuStorageLocationMapper">
    <resultMap id="listShopSkuStorageLocationMap"
               type="com.sky.ddt.dto.shopSkuStorageLocation.response.ListShopSkuStorageLocationResponse"
               extends="com.sky.ddt.dao.generate.ShopSkuStorageLocationMapper.BaseResultMap">
        <result column="shopName" property="shopName"/>
        <result column="shopSku" property="shopSku"/>
        <result column="locationNo" property="locationNo"/>
    </resultMap>
    <select id="listShopSkuStorageLocation" parameterType="com.sky.ddt.dto.shopSkuStorageLocation.request.ListShopSkuStorageLocationRequest" resultMap="listShopSkuStorageLocationMap">
        select
        sssl.*,(select shop_name from shop s where s.shop_id=sl.shop_id) shopName,ss.shop_sku shopSku,sl.location_no locationNo
        from shop_sku_storage_location sssl,storage_location sl,shop_sku ss
        where
        sssl.shop_sku_id=ss.shop_sku_id and sssl.storage_location_id=sl.id
        <if test="shopSkuId != null">and sssl.shop_sku_id=#{shopSkuId}</if>
        order by sl.location_no asc
    </select>
</mapper>