<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.ddt.dao.custom.CustomWarehousingOrderMapper">
    <resultMap id="listWarehousingOrderMap"
               type="com.sky.ddt.dto.warehousingOrder.response.ListWarehousingOrderResponse"
               extends="com.sky.ddt.dao.generate.WarehousingOrderMapper.BaseResultMap">
        <result column="shop_name" property="shopName"/>
        <result column="produceOrderBatchNumber" property="produceOrderBatchNumber"/>
        <result column="warehousingQuantityTotal" property="warehousingQuantityTotal"/>
    </resultMap>
    <select id="listWarehousingOrder"
            parameterType="com.sky.ddt.dto.warehousingOrder.request.ListWarehousingOrderRequest"
            resultMap="listWarehousingOrderMap">
        select
        <include refid="com.sky.ddt.dao.generate.WarehousingOrderMapper.Base_Column_List"/>
        ,(select s.shop_name from shop s where wo.shop_id=s.shop_id) shop_name
        ,case when wo.produce_order_id is not null then(select batch_number from produce_order po WHERE
        po.id=wo.produce_order_id) else null end produceOrderBatchNumber,
        ifnull((select sum(woss.warehousing_quantity) from warehousing_order_shop_sku woss where
        woss.warehousing_order_id=wo.id),0) warehousingQuantityTotal
        from warehousing_order wo
        <where>
            <trim prefix="(" suffix=")" prefixOverrides="and">
                <if test="shopId != null">and shop_id =#{shopId}</if>
                <if test="warehousingTimeStart != null ">and production_time<![CDATA[>=]]> #{productionTimeStart}</if>
                <if test="warehousingTimeEnd != null ">and production_time <![CDATA[<]]>
                    DATE_ADD(date(#{productionTimeEnd}),INTERVAL 1 DAY)
                </if>
                <if test="batchNumber != null and batchNumber != '' ">and batch_number like
                    concat('%',#{batchNumber},'%')
                </if>
                <if test="shopSku != null and shopSku != '' ">
                    and exists (select 1 from warehousing_order_shop_sku woss where woss.warehousing_order_id=wo.id and
                    woss.shop_sku like concat('%',#{shopSku},'%'))
                </if>
                <if test="sku != null and sku != '' ">
                    and exists (select 1 from warehousing_order_shop_sku woss,shop_sku ss,sku s where
                    woss.warehousing_order_id=wo.id and
                    woss.shop_sku_id=ss.shop_sku_id and ss.sku_id=s.sku_id and s.sku like concat('%',#{sku},'%'))
                </if>
                <if test="produceOrderBatchNumber != null and produceOrderBatchNumber != '' ">
                    and exists (select 1 from produce_order po where wo.produce_order_id=po.id and po.batch_number like
                    concat('%',#{produceOrderBatchNumber},'%'))
                </if>
                <if test="status != null">and status=#{status}</if>
            </trim>
        </where>
        order by wo.create_time desc
    </select>
    <sql id="queryWhere">
        <where>
            <trim prefix="(" suffix=")" prefixOverrides="and">
                <if test="shopId != null">and shop_id =#{shopId}</if>
                <if test="warehousingTimeStart != null ">and production_time<![CDATA[>=]]> #{productionTimeStart}</if>
                <if test="warehousingTimeEnd != null ">and production_time <![CDATA[<]]>
                    DATE_ADD(date(#{productionTimeEnd}),INTERVAL 1 DAY)
                </if>
                <if test="batchNumber != null and batchNumber != '' ">and batch_number like
                    concat('%',#{batchNumber},'%')
                </if>
                <if test="shopSku != null and shopSku != '' ">
                    and exists (select 1 from warehousing_order_shop_sku woss where woss.warehousing_order_id=wo.id and
                    woss.shop_sku like concat('%',#{shopSku},'%'))
                </if>
                <if test="produceOrderBatchNumber != null and produceOrderBatchNumber != '' ">
                    and exists (select 1 from produce_order po where wo.produce_order_id=po.id and po.batch_number like
                    concat('%',#{produceOrderBatchNumber},'%'))
                </if>
                <if test="status != null">and wo.status=#{status}</if>
            </trim>
        </where>
        order by wo.create_time desc
    </sql>
    <select id="listExportWarehousingOrder"
            resultType="com.sky.ddt.dto.warehousingOrder.response.ExportWarehousingOrderResponse">
        select s.`shop_name` shopName,wo.`create_time` createTime,wo.`warehousing_time`
        warehousingTime,wo.`status`,wo.`type`,case when wo.produce_order_id is not null then(select batch_number from
        produce_order po WHERE
        po.id=wo.produce_order_id) else null end produceOrderBatchNumber,wo.batch_number
        batchNumber,sku.`sku`,ss.shop_sku shopSku,woss.warehousing_quantity warehousingquantity from
        warehousing_order wo
        left join shop s on wo.shop_id=s.shop_id
        left join warehousing_order_shop_sku woss on wo.id=woss.`warehousing_order_id`
        left join shop_sku ss on woss.`shop_sku_id`=ss.`shop_sku_id`
        left join sku on ss.`sku_id`=sku.`sku_id`
        <include refid="queryWhere"></include>
    </select>
    <insert id="insertShopSkuStorageLocationByWarehousingOrder">
       INSERT INTO `shop_sku_storage_location`(shop_sku_id,storage_location_id,create_by)
SELECT DISTINCT woss.`shop_sku_id`,wosssl.storage_location_id,#{dealUserId} FROM `warehousing_order_shop_sku` woss,`warehousing_order_shop_sku_storage_location` wosssl
WHERE woss.`warehousing_order_id`=#{id} AND woss.`id`=wosssl.`warehousing_order_shop_sku_id` AND NOT EXISTS(SELECT 1 FROM `shop_sku_storage_location` sssl WHERE sssl.shop_sku_id=woss.`shop_sku_id` AND sssl.storage_location_id=wosssl.storage_location_id )
    </insert>
</mapper>