<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.ddt.dao.custom.CustomFbaInventoryDistributionMapper">

    <select id="listFbaInventoryDistributionExist"
            resultType="com.sky.ddt.dto.fbaInventoryDistribution.resp.FbaInventoryDistributionExistInfo">
        select
        id,sku
        from fba_inventory_distribution
        <where>

            <trim prefix="(" suffix=")" prefixOverrides="and">
                and sku in
                <foreach close=")" collection="shopSkuList" item="shopSku" open="(" separator=",">
                    #{shopSku}
                </foreach>
            </trim>
            and snapshot_day=#{snapshotDay}
        </where>
    </select>
</mapper>