<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.ddt.dao.custom.CustomProduceOrderShopSkuMapper">
    <resultMap id="ListProduceOrderShopSkuMap"
               type="com.sky.ddt.dto.produceOrderShopSku.response.ListProduceOrderShopSkuResponse"
               extends="com.sky.ddt.dao.generate.ProduceOrderShopSkuMapper.BaseResultMap">
        <result column="shop_name" property="shopName"/>
        <result column="shop_sku" property="shopSku"/>
        <result column="sku" property="sku"/>
        <result column="warehousingQuantity" property="warehousingQuantity"/>
    </resultMap>

    <select id="listProduceOrderShopSku"
            parameterType="com.sky.ddt.dto.produceOrderShopSku.request.ListProduceOrderShopSkuRequest"
            resultMap="ListProduceOrderShopSkuMap">
        select
        poss.*
        ,(select s.shop_name from shop s where po.shop_id=s.shop_id) shop_name,
        ss.shop_sku
        ,sku.sku,
        (select sum(warehousing_quantity) from warehousing_order_shop_sku woss,warehousing_order wo WHERE
        wo.id=woss.warehousing_order_id and wo.status=2 and wo.type=1 and wo.produce_order_id=poss.produce_order_id and
        woss.shop_sku_id=poss.shop_sku_id) warehousingQuantity
        from produce_order_shop_sku poss
        left join produce_order po on poss.produce_order_id=po.id
        left join shop_sku ss on poss.shop_sku_id=ss.shop_sku_id
        left join sku on sku.sku_id=ss.sku_id
        where poss.produce_order_id=#{produceOrderId}
        order by ss.shop_sku
    </select>
    <select id="listProduceOrderShopSkuProductionQuantity"
            resultType="com.sky.ddt.dto.produceOrderShopSku.response.ListProduceOrderShopSkuProductionQuantityResponse">
         select sum(poss.production_quantity) productionQuantity,s.shop_id shopId,s.shop_name shopName,ss.shop_sku shopSku from
        produce_order po,produce_order_shop_sku poss,shop_sku ss,shop s
        where po.id=poss.produce_order_id and po.shop_id=ss.shop_id and po.shop_id=s.shop_id and s.type=#{type} and poss.shop_sku_id=ss.shop_sku_id and po.status in(1,2)
        and po.shop_id!=#{shopId} and ss.sku_id=#{skuId}
        group by ss.shop_sku
    </select>


</mapper>