<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.ddt.dao.custom.CustomFbaPackingListShopSkuMapper">
    <resultMap id="listFbaPackingListShopSkuMap"
               type="com.sky.ddt.dto.fbaPackingListShopSku.response.ListFbaPackingListShopSkuResponse"
               extends="com.sky.ddt.dao.generate.FbaPackingListShopSkuMapper.BaseResultMap">
        <result column="shop_sku" property="shopSku"/>
        <result column="sku" property="sku"/>
    </resultMap>

    <sql id="Custom_Base_Column_List">
        fplss.id, fplss.fba_packing_list_id, fplss.shop_sku_id, fplss.fba_shipment_id, fplss.quantity, fplss.remark, fplss.create_by,
        fplss.create_time, fplss.update_by, fplss.update_time
    </sql>
    <select id="listFbaPackingListShopSku"
            parameterType="com.sky.ddt.dto.fbaPackingListShopSku.request.ListFbaPackingListShopSkuRequest"
            resultMap="listFbaPackingListShopSkuMap">
        select
        <include refid="Custom_Base_Column_List"/>
        ,ss.shop_sku,s.sku
        from fba_packing_list_shop_sku fplss left  join shop_sku ss on ss.shop_sku_id=fplss.shop_sku_id
        left JOIN sku s on ss.sku_id=s.sku_id
        <if test="_parameter != null">
            <include refid="fbaPackingListShopSku_Query_Where_Clause"/>
        </if>
        order by fplss.create_time asc
    </select>

    <sql id="fbaPackingListShopSku_Query_Where_Clause">
        <where>
            <trim prefix="(" suffix=")" prefixOverrides="and">
                <if test="fbaPackingListId != null">and fplss.fba_packing_list_id=#{fbaPackingListId}</if>
                <if test="shopSku != null and shopSku!=''">and ss.shop_sku like concat('%',#{shopSku},'%')</if>
                <if test="sku != null and sku!=''">and s.sku like concat('%',#{sku},'%')</if>
            </trim>
        </where>
    </sql>
    <select id="listFbaShopSkuHeadTripCostInfo" resultType="com.sky.ddt.dto.shopHeadTripCost.response.FbaShopSkuHeadTripCostInfo">
        SELECT fplss.shop_sku_id shopSkuId,iont.`head_trip_cost_rate` headTripCostRate,fplss.quantity FROM `fba_packing_list` fpl,`fba_packing_list_shop_sku` fplss,internal_order_number_transport iont
        WHERE fpl.`id`=fplss.fba_packing_list_id AND fplss.fba_shipment_id=iont.`fba_shipment_id_short`
        AND fpl.`shop_id`=#{shopId} and iont.`create_time`<![CDATA[>=]]>#{month} and iont.`create_time`<![CDATA[<]]>date_add(#{month}, interval 1 MONTH)
        ORDER BY shop_sku_id
    </select>
</mapper>