<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.ddt.dao.custom.CustomFbaInventoryDistributionMapper">

    <select id="listFbaInventoryDistributionExist"
            resultType="com.sky.ddt.dto.fbaInventoryDistribution.resp.FbaInventoryDistributionExistInfo">
        select
        id,sku,fulfillment_center_id fulfillmentCenterId,detailed_disposition detailedDisposition
        from fba_inventory_distribution
        <where>
            <trim prefix="(" suffix=")" prefixOverrides="and">
                and sku in
                <foreach close=")" collection="shopSkuList" item="shopSku" open="(" separator=",">
                    #{shopSku}
                </foreach>
            </trim>
            and snapshot_day=#{snapshotDay}
        </where>
    </select>

    <resultMap id="listFbaInventoryDistributionMap"
               type="com.sky.ddt.dto.fbaInventoryDistribution.resp.ListFbaInventoryDistributionResp"
               extends="com.sky.ddt.dao.generate.FbaInventoryDistributionMapper.BaseResultMap">
        <result column="shop_name" property="shopName"/>
    </resultMap>
    <select id="listFbaInventoryDistribution"
            resultMap="listFbaInventoryDistributionMap">
        select
        <include refid="com.sky.ddt.dao.generate.FbaInventoryDistributionMapper.Base_Column_List"/>
        ,(select shop_name from shop s where fid.shop_id=s.shop_id) shop_name
        from fba_inventory_distribution fid
        <if test="_parameter != null">
            <include refid="fbaInventoryDistribution_Query_Where_Clause"/>
        </if>
        order by fid.create_time desc
    </select>
    <sql id="fbaInventoryDistribution_Query_Where_Clause">
        <where>
            <trim prefix="(" suffix=")" prefixOverrides="and">
                <if test="shopId != null">and fid.shop_id=#{shopId}</if>
                <if test="snapshotDay != null">and fid.snapshot_day=#{snapshotDay}</if>
                <if test="fnsku != null and fnsku != ''">and fid.fnsku like concat('%',#{fnsku},'%')</if>
                <if test="sku != null and sku != ''">and fid.sku like concat('%',#{sku},'%')</if>
                <if test="productName != null and productName != ''">and fid.product-name like
                    concat('%',#{productName},'%')
                </if>
                <if test="fulfillmentCenterId != null and fulfillmentCenterId != ''">and fid.fulfillment_center_id like
                    concat('%',#{fulfillmentCenterId},'%')
                </if>
                <if test="detailedDisposition != null and detailedDisposition != ''">and fid.detailed_disposition like
                    concat('%',#{detailedDisposition},'%')
                </if>
                <if test="quantityMin != null">and fid.quantity <![CDATA[>=]]> #{quantityMin}</if>
                <if test="quantityMax != null">and fid.quantity <![CDATA[<=]]> #{quantityMax}</if>
            </trim>
        </where>
    </sql>
</mapper>