<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.ddt.dao.custom.CustomWarehousingOrderShopSkuStorageLocationMapper">
    <resultMap id="listWarehousingOrderShopSkuStorageLocationMap"
               type="com.sky.ddt.dto.warehousingOrderShopSkuStorageLocation.response.ListWarehousingOrderShopSkuStorageLocationResponse"
               extends="com.sky.ddt.dao.generate.WarehousingOrderShopSkuStorageLocationMapper.BaseResultMap">
        <result column="shopName" property="shopName"/>
        <result column="shopSku" property="shopSku"/>
        <result column="locationNo" property="locationNo"/>
    </resultMap>
    <select id="listWarehousingOrderShopSkuStorageLocation" parameterType="com.sky.ddt.dto.warehousingOrderShopSkuStorageLocation.request.ListWarehousingOrderShopSkuStorageLocationRequest" resultMap="listWarehousingOrderShopSkuStorageLocationMap">
        select
        wosssl.*,(select shop_name from shop s where s.shop_id=sl.shop_id) shopName,ss.shop_sku shopSku,sl.location_no locationNo
        from warehousing_order_shop_sku_storage_location wosssl,warehousing_order_shop_sku woss,storage_location sl,shop_sku ss
        where
        wosssl.warehousing_order_shop_sku_id=woss.id and woss.shop_sku_id=ss.shop_sku_id and wosssl.storage_location_id=sl.id
        <if test="warehousingOrderShopSkuId != null">and wosssl.warehousing_order_shop_sku_id=#{warehousingOrderShopSkuId}</if>
        order by sl.location_no asc
    </select>
    <insert id="batchSaveWarehousingOrderShopSkuStorageLocation">
insert into warehousing_order_shop_sku_storage_location(warehousing_order_shop_sku_id,storage_location_id,create_by)
        select #{warehousingOrderShopSkuId} warehousingOrderShopSkuId, sl.id storage_location_id,#{createBy}
        from storage_location sl where sl.id in
        <foreach close=")" collection="storageLocationIdList" item="listItem" open="(" separator=",">
            #{listItem}
        </foreach>
        and not exists (select 1 from warehousing_order_shop_sku_storage_location wosssl where wosssl.warehousing_order_shop_sku_id=#{warehousingOrderShopSkuId} and wosssl.storage_location_id=sl.id )
    </insert>
</mapper>
