<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.ddt.dao.custom.CustomCountryMapper">

    <resultMap id="listCountryMap"
               type="com.sky.ddt.dto.country.resp.ListCountryResp"
               extends="com.sky.ddt.dao.generate.CountryMapper.BaseResultMap">
        <result column="currencyName" property="currencyName"/>
        <result column="exchangeRate" property="exchangeRate"/>
    </resultMap>
    <select id="listCountry"
            parameterType="com.sky.ddt.dto.country.req.ListCountryReq"
            resultMap="listCountryMap">
        select
        c.*,currency_name currencyName,exchange_rate exchangeRate
        from country c left join currency cc on cc.id=c.currency_id
        <if test="_parameter != null">
            <include refid="country_Query_Where_Clause"/>
        </if>
        order by c.create_time desc
    </select>
    <sql id="country_Query_Where_Clause">
        <where>
            <trim prefix="(" suffix=")" prefixOverrides="and">
                <if test="countryName != null and countryName !=''">and c.country_name like
                    concat('%',#{countryName},'%')
                </if>
                <if test="currencyId != null ">and c.currency_id=#{currencyId}</if>
                <if test="status != null ">and status=#{status}
                </if>
            </trim>
        </where>
    </sql>
    <select id="countryComboboxlist"
            resultType="com.sky.ddt.dto.country.resp.CountryComboxResp">
        select
       id,country_name countryName
       from country c
    order by c.create_time desc
    </select>
</mapper>