<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.ddt.dao.custom.CustomProductInventoryQuantityHisMapper">

    <insert id="saveProductInventoryQuantityHis">
       INSERT INTO product_inventory_quantity_his(product_id,inventory_quantity,MONTH)
       SELECT s.product_id,SUM(inventory_quantity),#{month} FROM `sku` s,shop_sku ss,product p
WHERE s.sku_id=ss.sku_id AND p.product_id=s.product_id AND ss.inventory_quantity IS NOT NULL AND ss.inventory_quantity!=0
GROUP BY s.product_id
    </insert>

</mapper>