<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.ddt.dao.custom.CustomLabelPrintShopSkuMapper" >

    <select id="listLabelPrintShopSku" parameterType="com.sky.ddt.dto.labelPrint.request.LabelPrintShopSkuListRequest" resultType="com.sky.ddt.dto.labelPrint.response.LabelPrintShopSkuListResponse">
        select
        lpss.id,lpss.shop_sku_id shopSkuId,lpss.quantity,ss.shop_sku shopSku,ss.fnsku,sku.sku

        from label_print_shop_sku lpss
        left join shop_sku ss on lpss.shop_sku_id=ss.shop_sku_id
        left join sku on ss.sku_id=sku.sku_id
        <where>
            <trim prefix="(" suffix=")" prefixOverrides="and">
                <if test="labelPrintId != null">and lpss.label_print_id =#{labelPrintId}</if>
            </trim>
        </where>
        order by ss.shop_sku asc
    </select>
</mapper>