<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.ddt.dao.custom.CustomFactoryProductionOrderMapper">
    <resultMap id="listFactoryProductionOrderMap"
               type="com.sky.ddt.dto.factoryProductionOrder.response.ListFactoryProductionOrderResponse"
               extends="com.sky.ddt.dao.generate.FactoryProductionOrderMapper.BaseResultMap">
        <result column="shopName" property="shopName"/>
    </resultMap>
    <select id="listFactoryProductionOrder"
            resultMap="listFactoryProductionOrderMap">
        SELECT
        <include refid="com.sky.ddt.dao.generate.FactoryProductionOrderMapper.Base_Column_List"/>,
        (select shop_name from shop s where s.shop_id=fpo.shop_id ) shopName
        from factory_production_order fpo where fpo.shop_id in (select su.shop_id from shop_user su where
        su.user_id=#{currentUserId})
        <if test="shopId != null ">and fpo.shop_id=#{shopId}</if>
        <if test="id != null ">and fpo.id=#{id}</if>
        <if test="status != null ">and fpo.status=#{status}</if>
        <if test="stockRecordId != null ">and fpo.stock_record_id=#{stockRecordId}</if>
        <if test="shopSku != null and shopSku!=''">
            and EXISTS (select 1 from factory_production_order_shop_sku fposs,shop_sku ss where
            fposs.shop_sku_id=ss.shop_sku_id and ss.shop_sku like concat('%',#{shopSku},'%') and
            fposs.factory_production_order_id=fpo.id)
        </if>
        <if test="sku != null and sku!=''">
            and EXISTS (select 1 from factory_production_order_shop_sku fposs,shop_sku ss,sku where
            fposs.shop_sku_id=ss.shop_sku_id and ss.sku_id=sku.sku_id and sku.sku like concat('%',#{sku},'%') and
            fposs.factory_production_order_id=fpo.id)
        </if>
        ORDER BY fpo.create_time desc
    </select>

    <select id="listFactoryProductionOrderShopParentSku"
            resultType="com.sky.ddt.dto.factoryProductionOrder.response.ListFactoryProductionOrderShopParentSkuResponse">
        SELECT SUM(production_quantity) productionQuantity,ss.shop_parent_sku shopParentSku
        FROM factory_production_order_shop_sku fposs
        LEFT JOIN `shop_sku` ss ON fposs.`shop_sku_id`=ss.`shop_sku_id`
        <where>
            <if test="factoryProductionOrderId != null ">and fposs.factory_production_order_id=#{factoryProductionOrderId}</if>
            <if test="shopParentSku != null and shopParentSku!=''">and ss.shop_parent_sku like
                concat('%',#{shopParentSku},'%')
            </if>
        </where>
        GROUP BY ss.shop_parent_sku ORDER BY ss.shop_parent_sku
    </select>
    <select id="listColourByShopParentSku"
            resultType="com.sky.ddt.dto.factoryProductionOrder.response.ListFactoryProductionOrderInfoResponse">
        SELECT DISTINCT colour FROM `shop_sku` ss,sku s
        WHERE ss.`shop_parent_sku`=#{shopParentSku}  AND ss.`sku_id`=s.`sku_id`
        ORDER BY colour
    </select>
    <select id="listShopSkuProductionQuantity"
            resultType="com.sky.ddt.dto.factoryProductionOrder.response.ShopSkuProductionQuantityDto">
        SELECT SUM(fposs.`production_quantity`) productionQuantity,ss.`shop_parent_sku` shopParentSku,ss.shop_sku shopSku,ss.shop_sku_id shopSkuId,s.`colour`,s.size FROM `factory_production_order_shop_sku` fposs,`shop_sku` ss,sku s
WHERE fposs.`factory_production_order_id`=#{factoryProductionOrderId} AND fposs.`shop_sku_id`=ss.`shop_sku_id` AND ss.`sku_id`=s.`sku_id` AND ss.`shop_parent_sku`=#{shopParentSku}
GROUP BY s.`colour`,s.size
order by s.`colour`
    </select>

</mapper>