<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.ddt.dao.custom.CustomInternalOrderNumberMapper">
    <resultMap id="listInternalOrderNumberMap"
               type="com.sky.ddt.dto.internalOrderNumber.response.ListInternalOrderNumberResponse"
               extends="com.sky.ddt.dao.generate.InternalOrderNumberMapper.BaseResultMap">
        <result column="transport_type_name" property="transportTypeName"/>
        <result column="totalWeight" property="totalWeight"/>
    </resultMap>
    <select id="listInternalOrderNumber"
            parameterType="com.sky.ddt.dto.internalOrderNumber.request.ListInternalOrderNumberRequest"
            resultMap="listInternalOrderNumberMap">
        select
        <include refid="com.sky.ddt.dao.generate.InternalOrderNumberMapper.Base_Column_List"/>,
        (select transport_type_name from transport_type tt where tt.id=ion.transport_type_id)transport_type_name,
        (select sum(weight) from internal_order_number_transport iont where iont.internal_order_number_id =ion.id) totalWeight
        from internal_order_number ion
        <where>
            <trim prefix="(" suffix=")" prefixOverrides="and">
                <if test="orderNumber != null and orderNumber != '' ">and ion.order_number like
                    concat('%',#{orderNumber},'%')
                </if>
                <if test="createTimeStart != null ">and create_time<![CDATA[>=]]> #{createTimeStart}</if>
                <if test="createTimeEnd != null ">and create_time <![CDATA[<]]>
                    DATE_ADD(date(#{createTimeEnd}),INTERVAL 1 DAY)
                </if>
            </trim>
        </where>
        order by ion.create_time desc
    </select>
</mapper>