<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.ddt.dao.generate.FbaPackingListShopSkuMapper">
  <resultMap id="BaseResultMap" type="com.sky.ddt.entity.FbaPackingListShopSku">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="fba_packing_list_id" jdbcType="INTEGER" property="fbaPackingListId" />
    <result column="shop_sku_id" jdbcType="INTEGER" property="shopSkuId" />
    <result column="fba_shipment_id" jdbcType="VARCHAR" property="fbaShipmentId" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="INTEGER" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="box_name" jdbcType="VARCHAR" property="boxName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, fba_packing_list_id, shop_sku_id, fba_shipment_id, quantity, remark, create_by, 
    create_time, update_by, update_time, box_name
  </sql>
  <select id="selectByExample" parameterType="com.sky.ddt.entity.FbaPackingListShopSkuExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from fba_packing_list_shop_sku
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fba_packing_list_shop_sku
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fba_packing_list_shop_sku
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sky.ddt.entity.FbaPackingListShopSkuExample">
    delete from fba_packing_list_shop_sku
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sky.ddt.entity.FbaPackingListShopSku">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into fba_packing_list_shop_sku (fba_packing_list_id, shop_sku_id, fba_shipment_id, 
      quantity, remark, create_by, 
      create_time, update_by, update_time, 
      box_name)
    values (#{fbaPackingListId,jdbcType=INTEGER}, #{shopSkuId,jdbcType=INTEGER}, #{fbaShipmentId,jdbcType=VARCHAR}, 
      #{quantity,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{createBy,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{boxName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sky.ddt.entity.FbaPackingListShopSku">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into fba_packing_list_shop_sku
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fbaPackingListId != null">
        fba_packing_list_id,
      </if>
      <if test="shopSkuId != null">
        shop_sku_id,
      </if>
      <if test="fbaShipmentId != null">
        fba_shipment_id,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="boxName != null">
        box_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fbaPackingListId != null">
        #{fbaPackingListId,jdbcType=INTEGER},
      </if>
      <if test="shopSkuId != null">
        #{shopSkuId,jdbcType=INTEGER},
      </if>
      <if test="fbaShipmentId != null">
        #{fbaShipmentId,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="boxName != null">
        #{boxName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sky.ddt.entity.FbaPackingListShopSkuExample" resultType="java.lang.Long">
    select count(*) from fba_packing_list_shop_sku
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update fba_packing_list_shop_sku
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.fbaPackingListId != null">
        fba_packing_list_id = #{record.fbaPackingListId,jdbcType=INTEGER},
      </if>
      <if test="record.shopSkuId != null">
        shop_sku_id = #{record.shopSkuId,jdbcType=INTEGER},
      </if>
      <if test="record.fbaShipmentId != null">
        fba_shipment_id = #{record.fbaShipmentId,jdbcType=VARCHAR},
      </if>
      <if test="record.quantity != null">
        quantity = #{record.quantity,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.boxName != null">
        box_name = #{record.boxName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update fba_packing_list_shop_sku
    set id = #{record.id,jdbcType=INTEGER},
      fba_packing_list_id = #{record.fbaPackingListId,jdbcType=INTEGER},
      shop_sku_id = #{record.shopSkuId,jdbcType=INTEGER},
      fba_shipment_id = #{record.fbaShipmentId,jdbcType=VARCHAR},
      quantity = #{record.quantity,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_by = #{record.createBy,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      box_name = #{record.boxName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sky.ddt.entity.FbaPackingListShopSku">
    update fba_packing_list_shop_sku
    <set>
      <if test="fbaPackingListId != null">
        fba_packing_list_id = #{fbaPackingListId,jdbcType=INTEGER},
      </if>
      <if test="shopSkuId != null">
        shop_sku_id = #{shopSkuId,jdbcType=INTEGER},
      </if>
      <if test="fbaShipmentId != null">
        fba_shipment_id = #{fbaShipmentId,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="boxName != null">
        box_name = #{boxName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sky.ddt.entity.FbaPackingListShopSku">
    update fba_packing_list_shop_sku
    set fba_packing_list_id = #{fbaPackingListId,jdbcType=INTEGER},
      shop_sku_id = #{shopSkuId,jdbcType=INTEGER},
      fba_shipment_id = #{fbaShipmentId,jdbcType=VARCHAR},
      quantity = #{quantity,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      box_name = #{boxName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>