<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.ddt.dao.generate.FinanceMapper">
  <resultMap id="BaseResultMap" type="com.sky.ddt.entity.Finance">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="shop_id" jdbcType="INTEGER" property="shopId" />
    <result column="month" jdbcType="TIMESTAMP" property="month" />
    <result column="monthly_sales" jdbcType="BIT" property="monthlySales" />
    <result column="lighting_deal" jdbcType="BIT" property="lightingDeal" />
    <result column="monthly_storage_fee" jdbcType="BIT" property="monthlyStorageFee" />
    <result column="monthly_advertising_fee" jdbcType="BIT" property="monthlyAdvertisingFee" />
    <result column="remove_orders" jdbcType="BIT" property="removeOrders" />
    <result column="destruction_fee" jdbcType="BIT" property="destructionFee" />
    <result column="destruction_details" jdbcType="BIT" property="destructionDetails" />
    <result column="fba_customer_return_fee" jdbcType="BIT" property="fbaCustomerReturnFee" />
    <result column="coupon" jdbcType="BIT" property="coupon" />
    <result column="early_reviewer_program_fee" jdbcType="BIT" property="earlyReviewerProgramFee" />
    <result column="long_storage_fee" jdbcType="BIT" property="longStorageFee" />
    <result column="refund_operation_fee" jdbcType="BIT" property="refundOperationFee" />
    <result column="inventory_details" jdbcType="BIT" property="inventoryDetails" />
    <result column="head_deduction" jdbcType="BIT" property="headDeduction" />
    <result column="manual_adjustment" jdbcType="BIT" property="manualAdjustment" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="statistic_status" jdbcType="INTEGER" property="statisticStatus" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="INTEGER" property="updateBy" />
    <result column="rate_of_dollar_exchange_rmb" jdbcType="DECIMAL" property="rateOfDollarExchangeRmb" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, shop_id, month, monthly_sales, lighting_deal, monthly_storage_fee, monthly_advertising_fee, 
    remove_orders, destruction_fee, destruction_details, fba_customer_return_fee, coupon, 
    early_reviewer_program_fee, long_storage_fee, refund_operation_fee, inventory_details, 
    head_deduction, manual_adjustment, status, statistic_status, remark, create_time, 
    create_by, update_time, update_by, rate_of_dollar_exchange_rmb
  </sql>
  <select id="selectByExample" parameterType="com.sky.ddt.entity.FinanceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from finance
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from finance
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from finance
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sky.ddt.entity.FinanceExample">
    delete from finance
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sky.ddt.entity.Finance">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into finance (shop_id, month, monthly_sales, 
      lighting_deal, monthly_storage_fee, monthly_advertising_fee, 
      remove_orders, destruction_fee, destruction_details, 
      fba_customer_return_fee, coupon, early_reviewer_program_fee, 
      long_storage_fee, refund_operation_fee, inventory_details, 
      head_deduction, manual_adjustment, status, 
      statistic_status, remark, create_time, 
      create_by, update_time, update_by, 
      rate_of_dollar_exchange_rmb)
    values (#{shopId,jdbcType=INTEGER}, #{month,jdbcType=TIMESTAMP}, #{monthlySales,jdbcType=BIT}, 
      #{lightingDeal,jdbcType=BIT}, #{monthlyStorageFee,jdbcType=BIT}, #{monthlyAdvertisingFee,jdbcType=BIT}, 
      #{removeOrders,jdbcType=BIT}, #{destructionFee,jdbcType=BIT}, #{destructionDetails,jdbcType=BIT}, 
      #{fbaCustomerReturnFee,jdbcType=BIT}, #{coupon,jdbcType=BIT}, #{earlyReviewerProgramFee,jdbcType=BIT}, 
      #{longStorageFee,jdbcType=BIT}, #{refundOperationFee,jdbcType=BIT}, #{inventoryDetails,jdbcType=BIT}, 
      #{headDeduction,jdbcType=BIT}, #{manualAdjustment,jdbcType=BIT}, #{status,jdbcType=INTEGER}, 
      #{statisticStatus,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER}, 
      #{rateOfDollarExchangeRmb,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.sky.ddt.entity.Finance">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into finance
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="month != null">
        month,
      </if>
      <if test="monthlySales != null">
        monthly_sales,
      </if>
      <if test="lightingDeal != null">
        lighting_deal,
      </if>
      <if test="monthlyStorageFee != null">
        monthly_storage_fee,
      </if>
      <if test="monthlyAdvertisingFee != null">
        monthly_advertising_fee,
      </if>
      <if test="removeOrders != null">
        remove_orders,
      </if>
      <if test="destructionFee != null">
        destruction_fee,
      </if>
      <if test="destructionDetails != null">
        destruction_details,
      </if>
      <if test="fbaCustomerReturnFee != null">
        fba_customer_return_fee,
      </if>
      <if test="coupon != null">
        coupon,
      </if>
      <if test="earlyReviewerProgramFee != null">
        early_reviewer_program_fee,
      </if>
      <if test="longStorageFee != null">
        long_storage_fee,
      </if>
      <if test="refundOperationFee != null">
        refund_operation_fee,
      </if>
      <if test="inventoryDetails != null">
        inventory_details,
      </if>
      <if test="headDeduction != null">
        head_deduction,
      </if>
      <if test="manualAdjustment != null">
        manual_adjustment,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="statisticStatus != null">
        statistic_status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="rateOfDollarExchangeRmb != null">
        rate_of_dollar_exchange_rmb,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shopId != null">
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="month != null">
        #{month,jdbcType=TIMESTAMP},
      </if>
      <if test="monthlySales != null">
        #{monthlySales,jdbcType=BIT},
      </if>
      <if test="lightingDeal != null">
        #{lightingDeal,jdbcType=BIT},
      </if>
      <if test="monthlyStorageFee != null">
        #{monthlyStorageFee,jdbcType=BIT},
      </if>
      <if test="monthlyAdvertisingFee != null">
        #{monthlyAdvertisingFee,jdbcType=BIT},
      </if>
      <if test="removeOrders != null">
        #{removeOrders,jdbcType=BIT},
      </if>
      <if test="destructionFee != null">
        #{destructionFee,jdbcType=BIT},
      </if>
      <if test="destructionDetails != null">
        #{destructionDetails,jdbcType=BIT},
      </if>
      <if test="fbaCustomerReturnFee != null">
        #{fbaCustomerReturnFee,jdbcType=BIT},
      </if>
      <if test="coupon != null">
        #{coupon,jdbcType=BIT},
      </if>
      <if test="earlyReviewerProgramFee != null">
        #{earlyReviewerProgramFee,jdbcType=BIT},
      </if>
      <if test="longStorageFee != null">
        #{longStorageFee,jdbcType=BIT},
      </if>
      <if test="refundOperationFee != null">
        #{refundOperationFee,jdbcType=BIT},
      </if>
      <if test="inventoryDetails != null">
        #{inventoryDetails,jdbcType=BIT},
      </if>
      <if test="headDeduction != null">
        #{headDeduction,jdbcType=BIT},
      </if>
      <if test="manualAdjustment != null">
        #{manualAdjustment,jdbcType=BIT},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="statisticStatus != null">
        #{statisticStatus,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="rateOfDollarExchangeRmb != null">
        #{rateOfDollarExchangeRmb,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sky.ddt.entity.FinanceExample" resultType="java.lang.Long">
    select count(*) from finance
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update finance
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.shopId != null">
        shop_id = #{record.shopId,jdbcType=INTEGER},
      </if>
      <if test="record.month != null">
        month = #{record.month,jdbcType=TIMESTAMP},
      </if>
      <if test="record.monthlySales != null">
        monthly_sales = #{record.monthlySales,jdbcType=BIT},
      </if>
      <if test="record.lightingDeal != null">
        lighting_deal = #{record.lightingDeal,jdbcType=BIT},
      </if>
      <if test="record.monthlyStorageFee != null">
        monthly_storage_fee = #{record.monthlyStorageFee,jdbcType=BIT},
      </if>
      <if test="record.monthlyAdvertisingFee != null">
        monthly_advertising_fee = #{record.monthlyAdvertisingFee,jdbcType=BIT},
      </if>
      <if test="record.removeOrders != null">
        remove_orders = #{record.removeOrders,jdbcType=BIT},
      </if>
      <if test="record.destructionFee != null">
        destruction_fee = #{record.destructionFee,jdbcType=BIT},
      </if>
      <if test="record.destructionDetails != null">
        destruction_details = #{record.destructionDetails,jdbcType=BIT},
      </if>
      <if test="record.fbaCustomerReturnFee != null">
        fba_customer_return_fee = #{record.fbaCustomerReturnFee,jdbcType=BIT},
      </if>
      <if test="record.coupon != null">
        coupon = #{record.coupon,jdbcType=BIT},
      </if>
      <if test="record.earlyReviewerProgramFee != null">
        early_reviewer_program_fee = #{record.earlyReviewerProgramFee,jdbcType=BIT},
      </if>
      <if test="record.longStorageFee != null">
        long_storage_fee = #{record.longStorageFee,jdbcType=BIT},
      </if>
      <if test="record.refundOperationFee != null">
        refund_operation_fee = #{record.refundOperationFee,jdbcType=BIT},
      </if>
      <if test="record.inventoryDetails != null">
        inventory_details = #{record.inventoryDetails,jdbcType=BIT},
      </if>
      <if test="record.headDeduction != null">
        head_deduction = #{record.headDeduction,jdbcType=BIT},
      </if>
      <if test="record.manualAdjustment != null">
        manual_adjustment = #{record.manualAdjustment,jdbcType=BIT},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.statisticStatus != null">
        statistic_status = #{record.statisticStatus,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=INTEGER},
      </if>
      <if test="record.rateOfDollarExchangeRmb != null">
        rate_of_dollar_exchange_rmb = #{record.rateOfDollarExchangeRmb,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update finance
    set id = #{record.id,jdbcType=INTEGER},
      shop_id = #{record.shopId,jdbcType=INTEGER},
      month = #{record.month,jdbcType=TIMESTAMP},
      monthly_sales = #{record.monthlySales,jdbcType=BIT},
      lighting_deal = #{record.lightingDeal,jdbcType=BIT},
      monthly_storage_fee = #{record.monthlyStorageFee,jdbcType=BIT},
      monthly_advertising_fee = #{record.monthlyAdvertisingFee,jdbcType=BIT},
      remove_orders = #{record.removeOrders,jdbcType=BIT},
      destruction_fee = #{record.destructionFee,jdbcType=BIT},
      destruction_details = #{record.destructionDetails,jdbcType=BIT},
      fba_customer_return_fee = #{record.fbaCustomerReturnFee,jdbcType=BIT},
      coupon = #{record.coupon,jdbcType=BIT},
      early_reviewer_program_fee = #{record.earlyReviewerProgramFee,jdbcType=BIT},
      long_storage_fee = #{record.longStorageFee,jdbcType=BIT},
      refund_operation_fee = #{record.refundOperationFee,jdbcType=BIT},
      inventory_details = #{record.inventoryDetails,jdbcType=BIT},
      head_deduction = #{record.headDeduction,jdbcType=BIT},
      manual_adjustment = #{record.manualAdjustment,jdbcType=BIT},
      status = #{record.status,jdbcType=INTEGER},
      statistic_status = #{record.statisticStatus,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=INTEGER},
      rate_of_dollar_exchange_rmb = #{record.rateOfDollarExchangeRmb,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sky.ddt.entity.Finance">
    update finance
    <set>
      <if test="shopId != null">
        shop_id = #{shopId,jdbcType=INTEGER},
      </if>
      <if test="month != null">
        month = #{month,jdbcType=TIMESTAMP},
      </if>
      <if test="monthlySales != null">
        monthly_sales = #{monthlySales,jdbcType=BIT},
      </if>
      <if test="lightingDeal != null">
        lighting_deal = #{lightingDeal,jdbcType=BIT},
      </if>
      <if test="monthlyStorageFee != null">
        monthly_storage_fee = #{monthlyStorageFee,jdbcType=BIT},
      </if>
      <if test="monthlyAdvertisingFee != null">
        monthly_advertising_fee = #{monthlyAdvertisingFee,jdbcType=BIT},
      </if>
      <if test="removeOrders != null">
        remove_orders = #{removeOrders,jdbcType=BIT},
      </if>
      <if test="destructionFee != null">
        destruction_fee = #{destructionFee,jdbcType=BIT},
      </if>
      <if test="destructionDetails != null">
        destruction_details = #{destructionDetails,jdbcType=BIT},
      </if>
      <if test="fbaCustomerReturnFee != null">
        fba_customer_return_fee = #{fbaCustomerReturnFee,jdbcType=BIT},
      </if>
      <if test="coupon != null">
        coupon = #{coupon,jdbcType=BIT},
      </if>
      <if test="earlyReviewerProgramFee != null">
        early_reviewer_program_fee = #{earlyReviewerProgramFee,jdbcType=BIT},
      </if>
      <if test="longStorageFee != null">
        long_storage_fee = #{longStorageFee,jdbcType=BIT},
      </if>
      <if test="refundOperationFee != null">
        refund_operation_fee = #{refundOperationFee,jdbcType=BIT},
      </if>
      <if test="inventoryDetails != null">
        inventory_details = #{inventoryDetails,jdbcType=BIT},
      </if>
      <if test="headDeduction != null">
        head_deduction = #{headDeduction,jdbcType=BIT},
      </if>
      <if test="manualAdjustment != null">
        manual_adjustment = #{manualAdjustment,jdbcType=BIT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="statisticStatus != null">
        statistic_status = #{statisticStatus,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="rateOfDollarExchangeRmb != null">
        rate_of_dollar_exchange_rmb = #{rateOfDollarExchangeRmb,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sky.ddt.entity.Finance">
    update finance
    set shop_id = #{shopId,jdbcType=INTEGER},
      month = #{month,jdbcType=TIMESTAMP},
      monthly_sales = #{monthlySales,jdbcType=BIT},
      lighting_deal = #{lightingDeal,jdbcType=BIT},
      monthly_storage_fee = #{monthlyStorageFee,jdbcType=BIT},
      monthly_advertising_fee = #{monthlyAdvertisingFee,jdbcType=BIT},
      remove_orders = #{removeOrders,jdbcType=BIT},
      destruction_fee = #{destructionFee,jdbcType=BIT},
      destruction_details = #{destructionDetails,jdbcType=BIT},
      fba_customer_return_fee = #{fbaCustomerReturnFee,jdbcType=BIT},
      coupon = #{coupon,jdbcType=BIT},
      early_reviewer_program_fee = #{earlyReviewerProgramFee,jdbcType=BIT},
      long_storage_fee = #{longStorageFee,jdbcType=BIT},
      refund_operation_fee = #{refundOperationFee,jdbcType=BIT},
      inventory_details = #{inventoryDetails,jdbcType=BIT},
      head_deduction = #{headDeduction,jdbcType=BIT},
      manual_adjustment = #{manualAdjustment,jdbcType=BIT},
      status = #{status,jdbcType=INTEGER},
      statistic_status = #{statisticStatus,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      rate_of_dollar_exchange_rmb = #{rateOfDollarExchangeRmb,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>