<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.ddt.dao.generate.InventoryChangeRecordMapper">
  <resultMap id="BaseResultMap" type="com.sky.ddt.entity.InventoryChangeRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="shop_sku_id" jdbcType="INTEGER" property="shopSkuId" />
    <result column="inventory_quantity_old" jdbcType="INTEGER" property="inventoryQuantityOld" />
    <result column="inventory_quantity_new" jdbcType="INTEGER" property="inventoryQuantityNew" />
    <result column="modified_quantity" jdbcType="INTEGER" property="modifiedQuantity" />
    <result column="change_type" jdbcType="INTEGER" property="changeType" />
    <result column="entity_id" jdbcType="INTEGER" property="entityId" />
    <result column="main_entity_id" jdbcType="INTEGER" property="mainEntityId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="INTEGER" property="updateBy" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, shop_sku_id, inventory_quantity_old, inventory_quantity_new, modified_quantity, 
    change_type, entity_id, main_entity_id, remark, create_time, create_by, update_time, 
    update_by
  </sql>
  <select id="selectByExample" parameterType="com.sky.ddt.entity.InventoryChangeRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from inventory_change_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from inventory_change_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from inventory_change_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sky.ddt.entity.InventoryChangeRecordExample">
    delete from inventory_change_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sky.ddt.entity.InventoryChangeRecord">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into inventory_change_record (shop_sku_id, inventory_quantity_old, 
      inventory_quantity_new, modified_quantity, 
      change_type, entity_id, main_entity_id, 
      remark, create_time, create_by, 
      update_time, update_by)
    values (#{shopSkuId,jdbcType=INTEGER}, #{inventoryQuantityOld,jdbcType=INTEGER}, 
      #{inventoryQuantityNew,jdbcType=INTEGER}, #{modifiedQuantity,jdbcType=INTEGER}, 
      #{changeType,jdbcType=INTEGER}, #{entityId,jdbcType=INTEGER}, #{mainEntityId,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sky.ddt.entity.InventoryChangeRecord">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into inventory_change_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shopSkuId != null">
        shop_sku_id,
      </if>
      <if test="inventoryQuantityOld != null">
        inventory_quantity_old,
      </if>
      <if test="inventoryQuantityNew != null">
        inventory_quantity_new,
      </if>
      <if test="modifiedQuantity != null">
        modified_quantity,
      </if>
      <if test="changeType != null">
        change_type,
      </if>
      <if test="entityId != null">
        entity_id,
      </if>
      <if test="mainEntityId != null">
        main_entity_id,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shopSkuId != null">
        #{shopSkuId,jdbcType=INTEGER},
      </if>
      <if test="inventoryQuantityOld != null">
        #{inventoryQuantityOld,jdbcType=INTEGER},
      </if>
      <if test="inventoryQuantityNew != null">
        #{inventoryQuantityNew,jdbcType=INTEGER},
      </if>
      <if test="modifiedQuantity != null">
        #{modifiedQuantity,jdbcType=INTEGER},
      </if>
      <if test="changeType != null">
        #{changeType,jdbcType=INTEGER},
      </if>
      <if test="entityId != null">
        #{entityId,jdbcType=INTEGER},
      </if>
      <if test="mainEntityId != null">
        #{mainEntityId,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sky.ddt.entity.InventoryChangeRecordExample" resultType="java.lang.Long">
    select count(*) from inventory_change_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update inventory_change_record
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.shopSkuId != null">
        shop_sku_id = #{record.shopSkuId,jdbcType=INTEGER},
      </if>
      <if test="record.inventoryQuantityOld != null">
        inventory_quantity_old = #{record.inventoryQuantityOld,jdbcType=INTEGER},
      </if>
      <if test="record.inventoryQuantityNew != null">
        inventory_quantity_new = #{record.inventoryQuantityNew,jdbcType=INTEGER},
      </if>
      <if test="record.modifiedQuantity != null">
        modified_quantity = #{record.modifiedQuantity,jdbcType=INTEGER},
      </if>
      <if test="record.changeType != null">
        change_type = #{record.changeType,jdbcType=INTEGER},
      </if>
      <if test="record.entityId != null">
        entity_id = #{record.entityId,jdbcType=INTEGER},
      </if>
      <if test="record.mainEntityId != null">
        main_entity_id = #{record.mainEntityId,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update inventory_change_record
    set id = #{record.id,jdbcType=INTEGER},
      shop_sku_id = #{record.shopSkuId,jdbcType=INTEGER},
      inventory_quantity_old = #{record.inventoryQuantityOld,jdbcType=INTEGER},
      inventory_quantity_new = #{record.inventoryQuantityNew,jdbcType=INTEGER},
      modified_quantity = #{record.modifiedQuantity,jdbcType=INTEGER},
      change_type = #{record.changeType,jdbcType=INTEGER},
      entity_id = #{record.entityId,jdbcType=INTEGER},
      main_entity_id = #{record.mainEntityId,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sky.ddt.entity.InventoryChangeRecord">
    update inventory_change_record
    <set>
      <if test="shopSkuId != null">
        shop_sku_id = #{shopSkuId,jdbcType=INTEGER},
      </if>
      <if test="inventoryQuantityOld != null">
        inventory_quantity_old = #{inventoryQuantityOld,jdbcType=INTEGER},
      </if>
      <if test="inventoryQuantityNew != null">
        inventory_quantity_new = #{inventoryQuantityNew,jdbcType=INTEGER},
      </if>
      <if test="modifiedQuantity != null">
        modified_quantity = #{modifiedQuantity,jdbcType=INTEGER},
      </if>
      <if test="changeType != null">
        change_type = #{changeType,jdbcType=INTEGER},
      </if>
      <if test="entityId != null">
        entity_id = #{entityId,jdbcType=INTEGER},
      </if>
      <if test="mainEntityId != null">
        main_entity_id = #{mainEntityId,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sky.ddt.entity.InventoryChangeRecord">
    update inventory_change_record
    set shop_sku_id = #{shopSkuId,jdbcType=INTEGER},
      inventory_quantity_old = #{inventoryQuantityOld,jdbcType=INTEGER},
      inventory_quantity_new = #{inventoryQuantityNew,jdbcType=INTEGER},
      modified_quantity = #{modifiedQuantity,jdbcType=INTEGER},
      change_type = #{changeType,jdbcType=INTEGER},
      entity_id = #{entityId,jdbcType=INTEGER},
      main_entity_id = #{mainEntityId,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>