<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.ddt.dao.generate.MonthlySalesMapper">
  <resultMap id="BaseResultMap" type="com.sky.ddt.entity.MonthlySales">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="finance_id" jdbcType="INTEGER" property="financeId" />
    <result column="date_time" jdbcType="TIMESTAMP" property="dateTime" />
    <result column="settlement_id" jdbcType="BIGINT" property="settlementId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="sku" jdbcType="VARCHAR" property="sku" />
    <result column="shop_sku_id" jdbcType="INTEGER" property="shopSkuId" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="marketplace" jdbcType="VARCHAR" property="marketplace" />
    <result column="fulfillment" jdbcType="VARCHAR" property="fulfillment" />
    <result column="order_city" jdbcType="VARCHAR" property="orderCity" />
    <result column="order_state" jdbcType="VARCHAR" property="orderState" />
    <result column="order_postal" jdbcType="VARCHAR" property="orderPostal" />
    <result column="tax_collection_model" jdbcType="VARCHAR" property="taxCollectionModel" />
    <result column="product_sales" jdbcType="DECIMAL" property="productSales" />
    <result column="product_sales_tax" jdbcType="DECIMAL" property="productSalesTax" />
    <result column="shipping_credits" jdbcType="DECIMAL" property="shippingCredits" />
    <result column="shipping_credits_tax" jdbcType="DECIMAL" property="shippingCreditsTax" />
    <result column="gift_wrap_credits" jdbcType="DECIMAL" property="giftWrapCredits" />
    <result column="giftwrap_credits_tax" jdbcType="DECIMAL" property="giftwrapCreditsTax" />
    <result column="promotional_rebates" jdbcType="DECIMAL" property="promotionalRebates" />
    <result column="promotional_rebates_tax" jdbcType="DECIMAL" property="promotionalRebatesTax" />
    <result column="marketplace_withheld_tax" jdbcType="DECIMAL" property="marketplaceWithheldTax" />
    <result column="selling_fees" jdbcType="DECIMAL" property="sellingFees" />
    <result column="fba_fees" jdbcType="DECIMAL" property="fbaFees" />
    <result column="other_transaction_fees" jdbcType="DECIMAL" property="otherTransactionFees" />
    <result column="other" jdbcType="DECIMAL" property="other" />
    <result column="total" jdbcType="DECIMAL" property="total" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, finance_id, date_time, settlement_id, type, order_id, sku, shop_sku_id, description, 
    quantity, marketplace, fulfillment, order_city, order_state, order_postal, tax_collection_model, 
    product_sales, product_sales_tax, shipping_credits, shipping_credits_tax, gift_wrap_credits, 
    giftwrap_credits_tax, promotional_rebates, promotional_rebates_tax, marketplace_withheld_tax, 
    selling_fees, fba_fees, other_transaction_fees, other, total, create_time, create_by
  </sql>
  <select id="selectByExample" parameterType="com.sky.ddt.entity.MonthlySalesExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from monthly_sales
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from monthly_sales
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from monthly_sales
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sky.ddt.entity.MonthlySalesExample">
    delete from monthly_sales
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sky.ddt.entity.MonthlySales">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into monthly_sales (finance_id, date_time, settlement_id, 
      type, order_id, sku, 
      shop_sku_id, description, quantity, 
      marketplace, fulfillment, order_city, 
      order_state, order_postal, tax_collection_model, 
      product_sales, product_sales_tax, shipping_credits, 
      shipping_credits_tax, gift_wrap_credits, giftwrap_credits_tax, 
      promotional_rebates, promotional_rebates_tax, 
      marketplace_withheld_tax, selling_fees, fba_fees, 
      other_transaction_fees, other, total, 
      create_time, create_by)
    values (#{financeId,jdbcType=INTEGER}, #{dateTime,jdbcType=TIMESTAMP}, #{settlementId,jdbcType=BIGINT}, 
      #{type,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{sku,jdbcType=VARCHAR}, 
      #{shopSkuId,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, #{quantity,jdbcType=INTEGER}, 
      #{marketplace,jdbcType=VARCHAR}, #{fulfillment,jdbcType=VARCHAR}, #{orderCity,jdbcType=VARCHAR}, 
      #{orderState,jdbcType=VARCHAR}, #{orderPostal,jdbcType=VARCHAR}, #{taxCollectionModel,jdbcType=VARCHAR}, 
      #{productSales,jdbcType=DECIMAL}, #{productSalesTax,jdbcType=DECIMAL}, #{shippingCredits,jdbcType=DECIMAL}, 
      #{shippingCreditsTax,jdbcType=DECIMAL}, #{giftWrapCredits,jdbcType=DECIMAL}, #{giftwrapCreditsTax,jdbcType=DECIMAL}, 
      #{promotionalRebates,jdbcType=DECIMAL}, #{promotionalRebatesTax,jdbcType=DECIMAL}, 
      #{marketplaceWithheldTax,jdbcType=DECIMAL}, #{sellingFees,jdbcType=DECIMAL}, #{fbaFees,jdbcType=DECIMAL}, 
      #{otherTransactionFees,jdbcType=DECIMAL}, #{other,jdbcType=DECIMAL}, #{total,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sky.ddt.entity.MonthlySales">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into monthly_sales
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="financeId != null">
        finance_id,
      </if>
      <if test="dateTime != null">
        date_time,
      </if>
      <if test="settlementId != null">
        settlement_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="sku != null">
        sku,
      </if>
      <if test="shopSkuId != null">
        shop_sku_id,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="marketplace != null">
        marketplace,
      </if>
      <if test="fulfillment != null">
        fulfillment,
      </if>
      <if test="orderCity != null">
        order_city,
      </if>
      <if test="orderState != null">
        order_state,
      </if>
      <if test="orderPostal != null">
        order_postal,
      </if>
      <if test="taxCollectionModel != null">
        tax_collection_model,
      </if>
      <if test="productSales != null">
        product_sales,
      </if>
      <if test="productSalesTax != null">
        product_sales_tax,
      </if>
      <if test="shippingCredits != null">
        shipping_credits,
      </if>
      <if test="shippingCreditsTax != null">
        shipping_credits_tax,
      </if>
      <if test="giftWrapCredits != null">
        gift_wrap_credits,
      </if>
      <if test="giftwrapCreditsTax != null">
        giftwrap_credits_tax,
      </if>
      <if test="promotionalRebates != null">
        promotional_rebates,
      </if>
      <if test="promotionalRebatesTax != null">
        promotional_rebates_tax,
      </if>
      <if test="marketplaceWithheldTax != null">
        marketplace_withheld_tax,
      </if>
      <if test="sellingFees != null">
        selling_fees,
      </if>
      <if test="fbaFees != null">
        fba_fees,
      </if>
      <if test="otherTransactionFees != null">
        other_transaction_fees,
      </if>
      <if test="other != null">
        other,
      </if>
      <if test="total != null">
        total,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="financeId != null">
        #{financeId,jdbcType=INTEGER},
      </if>
      <if test="dateTime != null">
        #{dateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="settlementId != null">
        #{settlementId,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="sku != null">
        #{sku,jdbcType=VARCHAR},
      </if>
      <if test="shopSkuId != null">
        #{shopSkuId,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="marketplace != null">
        #{marketplace,jdbcType=VARCHAR},
      </if>
      <if test="fulfillment != null">
        #{fulfillment,jdbcType=VARCHAR},
      </if>
      <if test="orderCity != null">
        #{orderCity,jdbcType=VARCHAR},
      </if>
      <if test="orderState != null">
        #{orderState,jdbcType=VARCHAR},
      </if>
      <if test="orderPostal != null">
        #{orderPostal,jdbcType=VARCHAR},
      </if>
      <if test="taxCollectionModel != null">
        #{taxCollectionModel,jdbcType=VARCHAR},
      </if>
      <if test="productSales != null">
        #{productSales,jdbcType=DECIMAL},
      </if>
      <if test="productSalesTax != null">
        #{productSalesTax,jdbcType=DECIMAL},
      </if>
      <if test="shippingCredits != null">
        #{shippingCredits,jdbcType=DECIMAL},
      </if>
      <if test="shippingCreditsTax != null">
        #{shippingCreditsTax,jdbcType=DECIMAL},
      </if>
      <if test="giftWrapCredits != null">
        #{giftWrapCredits,jdbcType=DECIMAL},
      </if>
      <if test="giftwrapCreditsTax != null">
        #{giftwrapCreditsTax,jdbcType=DECIMAL},
      </if>
      <if test="promotionalRebates != null">
        #{promotionalRebates,jdbcType=DECIMAL},
      </if>
      <if test="promotionalRebatesTax != null">
        #{promotionalRebatesTax,jdbcType=DECIMAL},
      </if>
      <if test="marketplaceWithheldTax != null">
        #{marketplaceWithheldTax,jdbcType=DECIMAL},
      </if>
      <if test="sellingFees != null">
        #{sellingFees,jdbcType=DECIMAL},
      </if>
      <if test="fbaFees != null">
        #{fbaFees,jdbcType=DECIMAL},
      </if>
      <if test="otherTransactionFees != null">
        #{otherTransactionFees,jdbcType=DECIMAL},
      </if>
      <if test="other != null">
        #{other,jdbcType=DECIMAL},
      </if>
      <if test="total != null">
        #{total,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sky.ddt.entity.MonthlySalesExample" resultType="java.lang.Long">
    select count(*) from monthly_sales
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update monthly_sales
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.financeId != null">
        finance_id = #{record.financeId,jdbcType=INTEGER},
      </if>
      <if test="record.dateTime != null">
        date_time = #{record.dateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.settlementId != null">
        settlement_id = #{record.settlementId,jdbcType=BIGINT},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.sku != null">
        sku = #{record.sku,jdbcType=VARCHAR},
      </if>
      <if test="record.shopSkuId != null">
        shop_sku_id = #{record.shopSkuId,jdbcType=INTEGER},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.quantity != null">
        quantity = #{record.quantity,jdbcType=INTEGER},
      </if>
      <if test="record.marketplace != null">
        marketplace = #{record.marketplace,jdbcType=VARCHAR},
      </if>
      <if test="record.fulfillment != null">
        fulfillment = #{record.fulfillment,jdbcType=VARCHAR},
      </if>
      <if test="record.orderCity != null">
        order_city = #{record.orderCity,jdbcType=VARCHAR},
      </if>
      <if test="record.orderState != null">
        order_state = #{record.orderState,jdbcType=VARCHAR},
      </if>
      <if test="record.orderPostal != null">
        order_postal = #{record.orderPostal,jdbcType=VARCHAR},
      </if>
      <if test="record.taxCollectionModel != null">
        tax_collection_model = #{record.taxCollectionModel,jdbcType=VARCHAR},
      </if>
      <if test="record.productSales != null">
        product_sales = #{record.productSales,jdbcType=DECIMAL},
      </if>
      <if test="record.productSalesTax != null">
        product_sales_tax = #{record.productSalesTax,jdbcType=DECIMAL},
      </if>
      <if test="record.shippingCredits != null">
        shipping_credits = #{record.shippingCredits,jdbcType=DECIMAL},
      </if>
      <if test="record.shippingCreditsTax != null">
        shipping_credits_tax = #{record.shippingCreditsTax,jdbcType=DECIMAL},
      </if>
      <if test="record.giftWrapCredits != null">
        gift_wrap_credits = #{record.giftWrapCredits,jdbcType=DECIMAL},
      </if>
      <if test="record.giftwrapCreditsTax != null">
        giftwrap_credits_tax = #{record.giftwrapCreditsTax,jdbcType=DECIMAL},
      </if>
      <if test="record.promotionalRebates != null">
        promotional_rebates = #{record.promotionalRebates,jdbcType=DECIMAL},
      </if>
      <if test="record.promotionalRebatesTax != null">
        promotional_rebates_tax = #{record.promotionalRebatesTax,jdbcType=DECIMAL},
      </if>
      <if test="record.marketplaceWithheldTax != null">
        marketplace_withheld_tax = #{record.marketplaceWithheldTax,jdbcType=DECIMAL},
      </if>
      <if test="record.sellingFees != null">
        selling_fees = #{record.sellingFees,jdbcType=DECIMAL},
      </if>
      <if test="record.fbaFees != null">
        fba_fees = #{record.fbaFees,jdbcType=DECIMAL},
      </if>
      <if test="record.otherTransactionFees != null">
        other_transaction_fees = #{record.otherTransactionFees,jdbcType=DECIMAL},
      </if>
      <if test="record.other != null">
        other = #{record.other,jdbcType=DECIMAL},
      </if>
      <if test="record.total != null">
        total = #{record.total,jdbcType=DECIMAL},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update monthly_sales
    set id = #{record.id,jdbcType=INTEGER},
      finance_id = #{record.financeId,jdbcType=INTEGER},
      date_time = #{record.dateTime,jdbcType=TIMESTAMP},
      settlement_id = #{record.settlementId,jdbcType=BIGINT},
      type = #{record.type,jdbcType=VARCHAR},
      order_id = #{record.orderId,jdbcType=VARCHAR},
      sku = #{record.sku,jdbcType=VARCHAR},
      shop_sku_id = #{record.shopSkuId,jdbcType=INTEGER},
      description = #{record.description,jdbcType=VARCHAR},
      quantity = #{record.quantity,jdbcType=INTEGER},
      marketplace = #{record.marketplace,jdbcType=VARCHAR},
      fulfillment = #{record.fulfillment,jdbcType=VARCHAR},
      order_city = #{record.orderCity,jdbcType=VARCHAR},
      order_state = #{record.orderState,jdbcType=VARCHAR},
      order_postal = #{record.orderPostal,jdbcType=VARCHAR},
      tax_collection_model = #{record.taxCollectionModel,jdbcType=VARCHAR},
      product_sales = #{record.productSales,jdbcType=DECIMAL},
      product_sales_tax = #{record.productSalesTax,jdbcType=DECIMAL},
      shipping_credits = #{record.shippingCredits,jdbcType=DECIMAL},
      shipping_credits_tax = #{record.shippingCreditsTax,jdbcType=DECIMAL},
      gift_wrap_credits = #{record.giftWrapCredits,jdbcType=DECIMAL},
      giftwrap_credits_tax = #{record.giftwrapCreditsTax,jdbcType=DECIMAL},
      promotional_rebates = #{record.promotionalRebates,jdbcType=DECIMAL},
      promotional_rebates_tax = #{record.promotionalRebatesTax,jdbcType=DECIMAL},
      marketplace_withheld_tax = #{record.marketplaceWithheldTax,jdbcType=DECIMAL},
      selling_fees = #{record.sellingFees,jdbcType=DECIMAL},
      fba_fees = #{record.fbaFees,jdbcType=DECIMAL},
      other_transaction_fees = #{record.otherTransactionFees,jdbcType=DECIMAL},
      other = #{record.other,jdbcType=DECIMAL},
      total = #{record.total,jdbcType=DECIMAL},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sky.ddt.entity.MonthlySales">
    update monthly_sales
    <set>
      <if test="financeId != null">
        finance_id = #{financeId,jdbcType=INTEGER},
      </if>
      <if test="dateTime != null">
        date_time = #{dateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="settlementId != null">
        settlement_id = #{settlementId,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="sku != null">
        sku = #{sku,jdbcType=VARCHAR},
      </if>
      <if test="shopSkuId != null">
        shop_sku_id = #{shopSkuId,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="marketplace != null">
        marketplace = #{marketplace,jdbcType=VARCHAR},
      </if>
      <if test="fulfillment != null">
        fulfillment = #{fulfillment,jdbcType=VARCHAR},
      </if>
      <if test="orderCity != null">
        order_city = #{orderCity,jdbcType=VARCHAR},
      </if>
      <if test="orderState != null">
        order_state = #{orderState,jdbcType=VARCHAR},
      </if>
      <if test="orderPostal != null">
        order_postal = #{orderPostal,jdbcType=VARCHAR},
      </if>
      <if test="taxCollectionModel != null">
        tax_collection_model = #{taxCollectionModel,jdbcType=VARCHAR},
      </if>
      <if test="productSales != null">
        product_sales = #{productSales,jdbcType=DECIMAL},
      </if>
      <if test="productSalesTax != null">
        product_sales_tax = #{productSalesTax,jdbcType=DECIMAL},
      </if>
      <if test="shippingCredits != null">
        shipping_credits = #{shippingCredits,jdbcType=DECIMAL},
      </if>
      <if test="shippingCreditsTax != null">
        shipping_credits_tax = #{shippingCreditsTax,jdbcType=DECIMAL},
      </if>
      <if test="giftWrapCredits != null">
        gift_wrap_credits = #{giftWrapCredits,jdbcType=DECIMAL},
      </if>
      <if test="giftwrapCreditsTax != null">
        giftwrap_credits_tax = #{giftwrapCreditsTax,jdbcType=DECIMAL},
      </if>
      <if test="promotionalRebates != null">
        promotional_rebates = #{promotionalRebates,jdbcType=DECIMAL},
      </if>
      <if test="promotionalRebatesTax != null">
        promotional_rebates_tax = #{promotionalRebatesTax,jdbcType=DECIMAL},
      </if>
      <if test="marketplaceWithheldTax != null">
        marketplace_withheld_tax = #{marketplaceWithheldTax,jdbcType=DECIMAL},
      </if>
      <if test="sellingFees != null">
        selling_fees = #{sellingFees,jdbcType=DECIMAL},
      </if>
      <if test="fbaFees != null">
        fba_fees = #{fbaFees,jdbcType=DECIMAL},
      </if>
      <if test="otherTransactionFees != null">
        other_transaction_fees = #{otherTransactionFees,jdbcType=DECIMAL},
      </if>
      <if test="other != null">
        other = #{other,jdbcType=DECIMAL},
      </if>
      <if test="total != null">
        total = #{total,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sky.ddt.entity.MonthlySales">
    update monthly_sales
    set finance_id = #{financeId,jdbcType=INTEGER},
      date_time = #{dateTime,jdbcType=TIMESTAMP},
      settlement_id = #{settlementId,jdbcType=BIGINT},
      type = #{type,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=VARCHAR},
      sku = #{sku,jdbcType=VARCHAR},
      shop_sku_id = #{shopSkuId,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      quantity = #{quantity,jdbcType=INTEGER},
      marketplace = #{marketplace,jdbcType=VARCHAR},
      fulfillment = #{fulfillment,jdbcType=VARCHAR},
      order_city = #{orderCity,jdbcType=VARCHAR},
      order_state = #{orderState,jdbcType=VARCHAR},
      order_postal = #{orderPostal,jdbcType=VARCHAR},
      tax_collection_model = #{taxCollectionModel,jdbcType=VARCHAR},
      product_sales = #{productSales,jdbcType=DECIMAL},
      product_sales_tax = #{productSalesTax,jdbcType=DECIMAL},
      shipping_credits = #{shippingCredits,jdbcType=DECIMAL},
      shipping_credits_tax = #{shippingCreditsTax,jdbcType=DECIMAL},
      gift_wrap_credits = #{giftWrapCredits,jdbcType=DECIMAL},
      giftwrap_credits_tax = #{giftwrapCreditsTax,jdbcType=DECIMAL},
      promotional_rebates = #{promotionalRebates,jdbcType=DECIMAL},
      promotional_rebates_tax = #{promotionalRebatesTax,jdbcType=DECIMAL},
      marketplace_withheld_tax = #{marketplaceWithheldTax,jdbcType=DECIMAL},
      selling_fees = #{sellingFees,jdbcType=DECIMAL},
      fba_fees = #{fbaFees,jdbcType=DECIMAL},
      other_transaction_fees = #{otherTransactionFees,jdbcType=DECIMAL},
      other = #{other,jdbcType=DECIMAL},
      total = #{total,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>