<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.ddt.dao.generate.ShopSkuMapper">
  <resultMap id="BaseResultMap" type="com.sky.ddt.entity.ShopSku">
    <id column="shop_sku_id" jdbcType="INTEGER" property="shopSkuId" />
    <result column="shop_sku" jdbcType="VARCHAR" property="shopSku" />
    <result column="sku_id" jdbcType="INTEGER" property="skuId" />
    <result column="shop_id" jdbcType="INTEGER" property="shopId" />
    <result column="salesman_user_id" jdbcType="INTEGER" property="salesmanUserId" />
    <result column="fnsku" jdbcType="VARCHAR" property="fnsku" />
    <result column="asin" jdbcType="VARCHAR" property="asin" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="inventory_quantity" jdbcType="INTEGER" property="inventoryQuantity" />
    <result column="storage_location" jdbcType="VARCHAR" property="storageLocation" />
    <result column="head_trip_cost" jdbcType="DECIMAL" property="headTripCost" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="produce_status" jdbcType="INTEGER" property="produceStatus" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="INTEGER" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="shop_parent_sku" jdbcType="VARCHAR" property="shopParentSku" />
    <result column="parent_asin" jdbcType="VARCHAR" property="parentAsin" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    shop_sku_id, shop_sku, sku_id, shop_id, salesman_user_id, fnsku, asin, title, inventory_quantity, 
    storage_location, head_trip_cost, status, produce_status, remark, create_by, create_time, 
    update_by, update_time, shop_parent_sku, parent_asin
  </sql>
  <select id="selectByExample" parameterType="com.sky.ddt.entity.ShopSkuExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shop_sku
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shop_sku
    where shop_sku_id = #{shopSkuId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from shop_sku
    where shop_sku_id = #{shopSkuId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sky.ddt.entity.ShopSkuExample">
    delete from shop_sku
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sky.ddt.entity.ShopSku">
    insert into shop_sku (shop_sku_id, shop_sku, sku_id, 
      shop_id, salesman_user_id, fnsku, 
      asin, title, inventory_quantity, 
      storage_location, head_trip_cost, status, 
      produce_status, remark, create_by, 
      create_time, update_by, update_time, 
      shop_parent_sku, parent_asin)
    values (#{shopSkuId,jdbcType=INTEGER}, #{shopSku,jdbcType=VARCHAR}, #{skuId,jdbcType=INTEGER}, 
      #{shopId,jdbcType=INTEGER}, #{salesmanUserId,jdbcType=INTEGER}, #{fnsku,jdbcType=VARCHAR}, 
      #{asin,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{inventoryQuantity,jdbcType=INTEGER}, 
      #{storageLocation,jdbcType=VARCHAR}, #{headTripCost,jdbcType=DECIMAL}, #{status,jdbcType=INTEGER}, 
      #{produceStatus,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{createBy,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{shopParentSku,jdbcType=VARCHAR}, #{parentAsin,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sky.ddt.entity.ShopSku">
    insert into shop_sku
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shopSkuId != null">
        shop_sku_id,
      </if>
      <if test="shopSku != null">
        shop_sku,
      </if>
      <if test="skuId != null">
        sku_id,
      </if>
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="salesmanUserId != null">
        salesman_user_id,
      </if>
      <if test="fnsku != null">
        fnsku,
      </if>
      <if test="asin != null">
        asin,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="inventoryQuantity != null">
        inventory_quantity,
      </if>
      <if test="storageLocation != null">
        storage_location,
      </if>
      <if test="headTripCost != null">
        head_trip_cost,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="produceStatus != null">
        produce_status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="shopParentSku != null">
        shop_parent_sku,
      </if>
      <if test="parentAsin != null">
        parent_asin,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shopSkuId != null">
        #{shopSkuId,jdbcType=INTEGER},
      </if>
      <if test="shopSku != null">
        #{shopSku,jdbcType=VARCHAR},
      </if>
      <if test="skuId != null">
        #{skuId,jdbcType=INTEGER},
      </if>
      <if test="shopId != null">
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="salesmanUserId != null">
        #{salesmanUserId,jdbcType=INTEGER},
      </if>
      <if test="fnsku != null">
        #{fnsku,jdbcType=VARCHAR},
      </if>
      <if test="asin != null">
        #{asin,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="inventoryQuantity != null">
        #{inventoryQuantity,jdbcType=INTEGER},
      </if>
      <if test="storageLocation != null">
        #{storageLocation,jdbcType=VARCHAR},
      </if>
      <if test="headTripCost != null">
        #{headTripCost,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="produceStatus != null">
        #{produceStatus,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shopParentSku != null">
        #{shopParentSku,jdbcType=VARCHAR},
      </if>
      <if test="parentAsin != null">
        #{parentAsin,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sky.ddt.entity.ShopSkuExample" resultType="java.lang.Long">
    select count(*) from shop_sku
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update shop_sku
    <set>
      <if test="record.shopSkuId != null">
        shop_sku_id = #{record.shopSkuId,jdbcType=INTEGER},
      </if>
      <if test="record.shopSku != null">
        shop_sku = #{record.shopSku,jdbcType=VARCHAR},
      </if>
      <if test="record.skuId != null">
        sku_id = #{record.skuId,jdbcType=INTEGER},
      </if>
      <if test="record.shopId != null">
        shop_id = #{record.shopId,jdbcType=INTEGER},
      </if>
      <if test="record.salesmanUserId != null">
        salesman_user_id = #{record.salesmanUserId,jdbcType=INTEGER},
      </if>
      <if test="record.fnsku != null">
        fnsku = #{record.fnsku,jdbcType=VARCHAR},
      </if>
      <if test="record.asin != null">
        asin = #{record.asin,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.inventoryQuantity != null">
        inventory_quantity = #{record.inventoryQuantity,jdbcType=INTEGER},
      </if>
      <if test="record.storageLocation != null">
        storage_location = #{record.storageLocation,jdbcType=VARCHAR},
      </if>
      <if test="record.headTripCost != null">
        head_trip_cost = #{record.headTripCost,jdbcType=DECIMAL},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.produceStatus != null">
        produce_status = #{record.produceStatus,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.shopParentSku != null">
        shop_parent_sku = #{record.shopParentSku,jdbcType=VARCHAR},
      </if>
      <if test="record.parentAsin != null">
        parent_asin = #{record.parentAsin,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update shop_sku
    set shop_sku_id = #{record.shopSkuId,jdbcType=INTEGER},
      shop_sku = #{record.shopSku,jdbcType=VARCHAR},
      sku_id = #{record.skuId,jdbcType=INTEGER},
      shop_id = #{record.shopId,jdbcType=INTEGER},
      salesman_user_id = #{record.salesmanUserId,jdbcType=INTEGER},
      fnsku = #{record.fnsku,jdbcType=VARCHAR},
      asin = #{record.asin,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      inventory_quantity = #{record.inventoryQuantity,jdbcType=INTEGER},
      storage_location = #{record.storageLocation,jdbcType=VARCHAR},
      head_trip_cost = #{record.headTripCost,jdbcType=DECIMAL},
      status = #{record.status,jdbcType=INTEGER},
      produce_status = #{record.produceStatus,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_by = #{record.createBy,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      shop_parent_sku = #{record.shopParentSku,jdbcType=VARCHAR},
      parent_asin = #{record.parentAsin,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sky.ddt.entity.ShopSku">
    update shop_sku
    <set>
      <if test="shopSku != null">
        shop_sku = #{shopSku,jdbcType=VARCHAR},
      </if>
      <if test="skuId != null">
        sku_id = #{skuId,jdbcType=INTEGER},
      </if>
      <if test="shopId != null">
        shop_id = #{shopId,jdbcType=INTEGER},
      </if>
      <if test="salesmanUserId != null">
        salesman_user_id = #{salesmanUserId,jdbcType=INTEGER},
      </if>
      <if test="fnsku != null">
        fnsku = #{fnsku,jdbcType=VARCHAR},
      </if>
      <if test="asin != null">
        asin = #{asin,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="inventoryQuantity != null">
        inventory_quantity = #{inventoryQuantity,jdbcType=INTEGER},
      </if>
      <if test="storageLocation != null">
        storage_location = #{storageLocation,jdbcType=VARCHAR},
      </if>
      <if test="headTripCost != null">
        head_trip_cost = #{headTripCost,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="produceStatus != null">
        produce_status = #{produceStatus,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shopParentSku != null">
        shop_parent_sku = #{shopParentSku,jdbcType=VARCHAR},
      </if>
      <if test="parentAsin != null">
        parent_asin = #{parentAsin,jdbcType=VARCHAR},
      </if>
    </set>
    where shop_sku_id = #{shopSkuId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sky.ddt.entity.ShopSku">
    update shop_sku
    set shop_sku = #{shopSku,jdbcType=VARCHAR},
      sku_id = #{skuId,jdbcType=INTEGER},
      shop_id = #{shopId,jdbcType=INTEGER},
      salesman_user_id = #{salesmanUserId,jdbcType=INTEGER},
      fnsku = #{fnsku,jdbcType=VARCHAR},
      asin = #{asin,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      inventory_quantity = #{inventoryQuantity,jdbcType=INTEGER},
      storage_location = #{storageLocation,jdbcType=VARCHAR},
      head_trip_cost = #{headTripCost,jdbcType=DECIMAL},
      status = #{status,jdbcType=INTEGER},
      produce_status = #{produceStatus,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      shop_parent_sku = #{shopParentSku,jdbcType=VARCHAR},
      parent_asin = #{parentAsin,jdbcType=VARCHAR}
    where shop_sku_id = #{shopSkuId,jdbcType=INTEGER}
  </update>
</mapper>