<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.ddt.dao.generate.ShopSenderAddressMapper">
  <resultMap id="BaseResultMap" type="com.sky.ddt.entity.ShopSenderAddress">
    <id column="shop_id" jdbcType="INTEGER" property="shopId" />
    <result column="ship_to_country" jdbcType="VARCHAR" property="shipToCountry" />
    <result column="address_name" jdbcType="VARCHAR" property="addressName" />
    <result column="address_field_one" jdbcType="VARCHAR" property="addressFieldOne" />
    <result column="address_field_two" jdbcType="VARCHAR" property="addressFieldTwo" />
    <result column="address_city" jdbcType="VARCHAR" property="addressCity" />
    <result column="address_country_code" jdbcType="VARCHAR" property="addressCountryCode" />
    <result column="address_state_or_region" jdbcType="VARCHAR" property="addressStateOrRegion" />
    <result column="address_postal_code" jdbcType="VARCHAR" property="addressPostalCode" />
    <result column="address_district" jdbcType="VARCHAR" property="addressDistrict" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="INTEGER" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    shop_id, ship_to_country, address_name, address_field_one, address_field_two, address_city, 
    address_country_code, address_state_or_region, address_postal_code, address_district, 
    create_by, create_time, update_by, update_time
  </sql>
  <select id="selectByExample" parameterType="com.sky.ddt.entity.ShopSenderAddressExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shop_sender_address
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shop_sender_address
    where shop_id = #{shopId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from shop_sender_address
    where shop_id = #{shopId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sky.ddt.entity.ShopSenderAddressExample">
    delete from shop_sender_address
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sky.ddt.entity.ShopSenderAddress">
    insert into shop_sender_address (shop_id, ship_to_country, address_name, 
      address_field_one, address_field_two, address_city, 
      address_country_code, address_state_or_region, 
      address_postal_code, address_district, create_by, 
      create_time, update_by, update_time
      )
    values (#{shopId,jdbcType=INTEGER}, #{shipToCountry,jdbcType=VARCHAR}, #{addressName,jdbcType=VARCHAR}, 
      #{addressFieldOne,jdbcType=VARCHAR}, #{addressFieldTwo,jdbcType=VARCHAR}, #{addressCity,jdbcType=VARCHAR}, 
      #{addressCountryCode,jdbcType=VARCHAR}, #{addressStateOrRegion,jdbcType=VARCHAR}, 
      #{addressPostalCode,jdbcType=VARCHAR}, #{addressDistrict,jdbcType=VARCHAR}, #{createBy,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sky.ddt.entity.ShopSenderAddress">
    insert into shop_sender_address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="shipToCountry != null">
        ship_to_country,
      </if>
      <if test="addressName != null">
        address_name,
      </if>
      <if test="addressFieldOne != null">
        address_field_one,
      </if>
      <if test="addressFieldTwo != null">
        address_field_two,
      </if>
      <if test="addressCity != null">
        address_city,
      </if>
      <if test="addressCountryCode != null">
        address_country_code,
      </if>
      <if test="addressStateOrRegion != null">
        address_state_or_region,
      </if>
      <if test="addressPostalCode != null">
        address_postal_code,
      </if>
      <if test="addressDistrict != null">
        address_district,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shopId != null">
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="shipToCountry != null">
        #{shipToCountry,jdbcType=VARCHAR},
      </if>
      <if test="addressName != null">
        #{addressName,jdbcType=VARCHAR},
      </if>
      <if test="addressFieldOne != null">
        #{addressFieldOne,jdbcType=VARCHAR},
      </if>
      <if test="addressFieldTwo != null">
        #{addressFieldTwo,jdbcType=VARCHAR},
      </if>
      <if test="addressCity != null">
        #{addressCity,jdbcType=VARCHAR},
      </if>
      <if test="addressCountryCode != null">
        #{addressCountryCode,jdbcType=VARCHAR},
      </if>
      <if test="addressStateOrRegion != null">
        #{addressStateOrRegion,jdbcType=VARCHAR},
      </if>
      <if test="addressPostalCode != null">
        #{addressPostalCode,jdbcType=VARCHAR},
      </if>
      <if test="addressDistrict != null">
        #{addressDistrict,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sky.ddt.entity.ShopSenderAddressExample" resultType="java.lang.Long">
    select count(*) from shop_sender_address
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update shop_sender_address
    <set>
      <if test="record.shopId != null">
        shop_id = #{record.shopId,jdbcType=INTEGER},
      </if>
      <if test="record.shipToCountry != null">
        ship_to_country = #{record.shipToCountry,jdbcType=VARCHAR},
      </if>
      <if test="record.addressName != null">
        address_name = #{record.addressName,jdbcType=VARCHAR},
      </if>
      <if test="record.addressFieldOne != null">
        address_field_one = #{record.addressFieldOne,jdbcType=VARCHAR},
      </if>
      <if test="record.addressFieldTwo != null">
        address_field_two = #{record.addressFieldTwo,jdbcType=VARCHAR},
      </if>
      <if test="record.addressCity != null">
        address_city = #{record.addressCity,jdbcType=VARCHAR},
      </if>
      <if test="record.addressCountryCode != null">
        address_country_code = #{record.addressCountryCode,jdbcType=VARCHAR},
      </if>
      <if test="record.addressStateOrRegion != null">
        address_state_or_region = #{record.addressStateOrRegion,jdbcType=VARCHAR},
      </if>
      <if test="record.addressPostalCode != null">
        address_postal_code = #{record.addressPostalCode,jdbcType=VARCHAR},
      </if>
      <if test="record.addressDistrict != null">
        address_district = #{record.addressDistrict,jdbcType=VARCHAR},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update shop_sender_address
    set shop_id = #{record.shopId,jdbcType=INTEGER},
      ship_to_country = #{record.shipToCountry,jdbcType=VARCHAR},
      address_name = #{record.addressName,jdbcType=VARCHAR},
      address_field_one = #{record.addressFieldOne,jdbcType=VARCHAR},
      address_field_two = #{record.addressFieldTwo,jdbcType=VARCHAR},
      address_city = #{record.addressCity,jdbcType=VARCHAR},
      address_country_code = #{record.addressCountryCode,jdbcType=VARCHAR},
      address_state_or_region = #{record.addressStateOrRegion,jdbcType=VARCHAR},
      address_postal_code = #{record.addressPostalCode,jdbcType=VARCHAR},
      address_district = #{record.addressDistrict,jdbcType=VARCHAR},
      create_by = #{record.createBy,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sky.ddt.entity.ShopSenderAddress">
    update shop_sender_address
    <set>
      <if test="shipToCountry != null">
        ship_to_country = #{shipToCountry,jdbcType=VARCHAR},
      </if>
      <if test="addressName != null">
        address_name = #{addressName,jdbcType=VARCHAR},
      </if>
      <if test="addressFieldOne != null">
        address_field_one = #{addressFieldOne,jdbcType=VARCHAR},
      </if>
      <if test="addressFieldTwo != null">
        address_field_two = #{addressFieldTwo,jdbcType=VARCHAR},
      </if>
      <if test="addressCity != null">
        address_city = #{addressCity,jdbcType=VARCHAR},
      </if>
      <if test="addressCountryCode != null">
        address_country_code = #{addressCountryCode,jdbcType=VARCHAR},
      </if>
      <if test="addressStateOrRegion != null">
        address_state_or_region = #{addressStateOrRegion,jdbcType=VARCHAR},
      </if>
      <if test="addressPostalCode != null">
        address_postal_code = #{addressPostalCode,jdbcType=VARCHAR},
      </if>
      <if test="addressDistrict != null">
        address_district = #{addressDistrict,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where shop_id = #{shopId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sky.ddt.entity.ShopSenderAddress">
    update shop_sender_address
    set ship_to_country = #{shipToCountry,jdbcType=VARCHAR},
      address_name = #{addressName,jdbcType=VARCHAR},
      address_field_one = #{addressFieldOne,jdbcType=VARCHAR},
      address_field_two = #{addressFieldTwo,jdbcType=VARCHAR},
      address_city = #{addressCity,jdbcType=VARCHAR},
      address_country_code = #{addressCountryCode,jdbcType=VARCHAR},
      address_state_or_region = #{addressStateOrRegion,jdbcType=VARCHAR},
      address_postal_code = #{addressPostalCode,jdbcType=VARCHAR},
      address_district = #{addressDistrict,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where shop_id = #{shopId,jdbcType=INTEGER}
  </update>
</mapper>